.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

.animate_shrink(@shrinkScale) {
  .keyframes(shrink-y, {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(@shrinkScale);
    }
  });
  .animation(shrink-y 0.5s);
  transform: scale(@shrinkScale);
}

.animate_unshrink(@shrinkScale) {
  .keyframes(unshrink-y, {
    from {
      transform: scale(@shrinkScale);
    }
    to {
      transform: scale(1);
    }
  });
  .animation(unshrink-y 0.5s);
}

.animate_rotate(@delay) {
  .keyframes(rotate, {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(unit(-20, deg));
    }
    100% {
      transform: rotate(unit(@delay, deg));
    }
  });
  .animation(rotate 2s forwards unit(@delay, s));
}

.animate_toggle(@first, @second) {
  .keyframes(toggle, {
    0%, 100% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(unit(@first, deg));
    }
    66% {
      transform: rotate(unit(@second, deg));
    }
  });
  .animation(toggle 0.7s);
}

.animate_dig_special() {
  .keyframes(dig, {
    0%, 100% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, 50px);
    }
    90% {
      transform: translate(5em, -5em);
    }
  });
  .animation(dig 1s forwards 0s);
}