.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

.animate_selected(@shrinkScale) {
  .keyframes(selected, {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(@shrinkScale);
    }
  });
  .animation(selected 0.5s forwards);
}

.animate_unshrink(@shrinkScale) {
  .keyframes(unshrink-y, {
    from {
      transform: scale(@shrinkScale);
    }
    to {
      transform: scale(1);
    }
  });
  .animation(unshrink-y 0.5s);
}

.animate_rotate(@delay) {
  .keyframes(rotate, {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(unit(-20, deg));
    }
    100% {
      transform: rotate(unit(@delay, deg));
    }
  });
  .animation(rotate 2s forwards unit(@delay, s));
}

.animate_toggle(@first, @second) {
  .keyframes(toggle, {
    0%, 100% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(unit(@first, deg));
    }
    66% {
      transform: rotate(unit(@second, deg));
    }
  });
  .animation(toggle 0.7s);
}

.animate_dig_special() {
  .keyframes(dig, {
    0%, 100% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, 50px);
    }
    90% {
      transform: translate(5em, -5em);
    }
  });
  .animation(dig 1s forwards 0s);
}

.animate_roll() {
  .keyframes(roll, {
    from {
      transform: translate(10em, -0.5em);
    }
    to {
      transform: translate(0, 0);
    }
  });
  .animation(roll 1s forwards);
}

.animate_roll_2() {
  .keyframes(roll, {
    from {
      transform: translate(0, -2em) scale(0);
    }
    to {
      transform: translate(0, 0) scale(1);
    }
  });
  .animation(roll 1s forwards);
}

.animate_unroll() {
  .keyframes(unroll, {
    from {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    to {
      opacity: 0;
      transform: translate(0, -9em) scale(4);
      border-radius: 0%;
    }
  });
  .animation(unroll 1s forwards);
}

.animate_unroll_2() {
  .keyframes(unroll2, {
    from {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    to {
      opacity: 0;
      transform: translate(-10em, -0.5em) scale(0);
    }
  });
  .animation(unroll2 1s forwards);
}

.animate_background_position(@fromColor, @toColor, @fromPosition, @toPosition) {
  .keyframes(background_position, {
    0% {
      background-position: @fromPosition 50%;
    }
    100% {
      background-position: @toPosition 50%;
    }
  });
  background: linear-gradient(90deg, @fromColor, @toColor);
  background-size: 600% 600%;
  .animation(background_position 2s ease forwards);
}

.animate_background_position_upgrade(@fromColor, @toColor, @fromPosition, @middlePosition, @toPosition) {
  .keyframes(_background_position_upgrade, {
    0% {
      background-position: @fromPosition 50%;
    }
    50% {
      background-position: @middlePosition 50%;
    }
    100% {
      background-position: @toPosition 50%;
    }
  });
  background: linear-gradient(90deg, @fromColor, @toColor);
  background-size: 600% 600%;
  .animation(_background_position_upgrade 5s ease-in forwards);
}